<h3>検索</h3>
<%= search_form_for(@q, url: search_stocks_path) do |f| %>
  <div class="form-group row">
    <%= f.label :ingredient_name_cont, (Ingredient.human_attribute_name :name), class: 'col-1 col-form-label'%>
    <%= f.search_field :ingredient_name_cont, class:'form-control col-4', placeholder: (Ingredient.human_attribute_name :name) %>
    <%= f.submit class: 'btn btn-outline-secondary' %>
  </div>
<% end %>