<%= search_form_for(@q, url: search_ingredients_path) do |f| %>
  <div class="row">
    <%= f.label :name_cont, (Ingredient.human_attribute_name :name), class: 'col-form-label'%>
    <div class="col">
      <%= f.search_field :name_cont, class:'form-control', placeholder: (Ingredient.human_attribute_name :name) %>
    </div>
    <div class="col">
      <%= f.submit class: 'btn btn-outline-secondary' %>
    </div>
  </div>
<% end %>