
<div class="jumbotron mt-4", id="top-jumb">
  <h1 class="display-5"><%= l Date.today, format: :long %> </h1>
  <p class="lead"><%= t '.profit' %></p>
  <p class="lead"><%= t '.sales' %></p>
  <hr class="my-4">
  <p>To the place where people interact with each other and create new impressions.</p>
</div>