
<div class="jumbotron mt-4", id="top-jumb">
  <h1 class="display-4"><%= Date.today %> </h1>
  <p class="lead">目標利益 :</p>
  <p class="lead">必要な売り上げ :</p>
  <hr class="my-4">
  <p>To the place where people interact with each other and create new impressions.</p>
</div>