@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #6c6761 !important;
}

.bg-info {
  background-color: #7D664E !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.jumbotron {
  color: #fff;
  background-color: #bab3ad;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#top-jumb {
  color: #fff;
  background-image: asset-url('jumbo-back.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

html,
body {
  height: 100%;
  background-color: #dbd3ca;
}

#page-content {
  flex: 1 0 auto;
}