<h3>検索</h3>
<%= search_form_for @q, url: search_sales_path do |f| %>
  <div class="form_group row">
    <%= f.label :date_eq, '日付', class: 'col-1 col-form-label'%>
    <%= f.date_field :date_eq, class:'form-control col-4' %>
    <%= f.submit '検索', class: 'btn btn-outline-secondary'%>
  </div>
<% end %>