<%= search_form_for @q, url: search_sales_path do |f| %>
  <div class="row">
    <%= f.label :date_eq, t('.date'), class: 'col-form-label'%>
    <div class="col">
      <%= f.date_field :date_eq, class:'form-control' %>
    </div>
    <div class="col">
      <%= f.submit class: 'btn btn-outline-secondary'%>
    </div>
  </div>
<% end %>
