<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <%= link_to t('.title'), root_path, class: "navbar-brand ps-3", id: "logo" %>
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-regular fa-user"></i>
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <%= link_to 'ユーザー設定（未）', '#', class: "dropdown-item"%>
      <%= link_to 'ログアウト', logout_path, class: "dropdown-item", method: :delete %>
    </div>
  </div>
</div>
</nav>