<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <%= link_to t('.title'), root_path, class: "navbar-brand ps-3", id: "logo" %>
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <div class="nav-item dropdown">
      <a class="btn nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user fa-fw" id="user-icon"></i>
      </a>
    
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to 'ユーザー設定（未）', '#', class: "dropdown-item"%>
        <%= link_to 'ログアウト', logout_path, class: "dropdown-item", method: :delete %>
      </div>
    </div>
  </div>

</div>
</nav>