<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">CrossPoint</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            売上
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">売上一覧</a>
            <a class="dropdown-item" href="#">売上追加</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">在庫一覧</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            発注
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">発注履歴</a>
            <a class="dropdown-item" href="#">発注追加</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            メニュー
          </a>
          <div class="dropdown-menu">
            <%= link_to 'メニュー一覧', menus_path, class: 'dropdown-item'%>
            <%= link_to '新規メニュー追加', new_menu_path, class: 'dropdown-item'%>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ヘルプ</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>